
<div class="container mb-5">

    <h1 class="text-center mb-3">New ToDo</h1>

    <div class="d-flex flex-column bd-highlight w-50" style="margin: 0 auto;">
        <form class="form-horizontal" [formGroup]="todoForm" (ngSubmit)="formSubmit()">
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input type="text" formControlName="title" placeholder="Title" class="form-control">
              </div>
              <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea class="form-control" formControlName="description" placeholder="Description" rows="3"></textarea>
            </div>
            <button class="btn btn-outline-dark w-100" type="submit">Save</button>
            <button class="btn btn-outline-danger w-100 mt-1" [routerLink]="['/todo/list']">Cancel</button>
        </form>
    </div>

</div>

